/*******************************************************************************
 * Name: QuizziPedia::Front-End::CSS::auth-main;
 *
 * Creation data: 12-05-2016;
 * Author: Matteo Granzotto;
 * License: MIT.
 ********************************************************************************
 * Updates history
 *-------------------------------------------------------------------------------
 * ID: auth-main_20160512
 * Update data: 12-05-2016
 * Description: Creato css;
 * Author: Matteo Granzotto.
 *-------------------------------------------------------------------------------
 *******************************************************************************/

.authpage {
    max-width: 40em;
    width: 100%;
    margin: auto;
}

.sezione {
  margin-top: 3em;
}

.text-center {
  text-align: center;
}

.toolbar {
  background-color: rgb(255,202,40) !important;
}

.md-padding {
 min-height: 6em;
 overflow: auto;
}

.search-div {
  min-height: 6em;
  overflow: auto;
}

.userForm {
  max-width: 30em !important;
}

.auth-button {
  width: 80%;
  margin: auto;
}

md-input-container {
  min-height: 4em !important;
  margin-top: 2em !important;
  margin-bottom: 0.5em !important;
}
