/*******************************************************************************
 * Name: QuizziPedia::Front-End::CSS::auth-medium;
 *
 * Creation data: 12-05-2016;
 * Author: Matteo Granzotto;
 * License: MIT.
 ********************************************************************************
 * Updates history
 *-------------------------------------------------------------------------------
 * ID: auth-medium_20160526
 * Update data: 26-05-2016
 * Description: Aggiornato css;
 * Author: Matteo Granzotto.
 *-------------------------------------------------------------------------------
 * ID: auth-medium_20160512
 * Update data: 12-05-2016
 * Description: Creato css;
 * Author: Matteo Granzotto.
 *-------------------------------------------------------------------------------
 *******************************************************************************/

.button-go-to-training {
  margin-top: 1em;
  text-align: -webkit-right;
}

@media screen and (max-width: 600px) {

  .authpage {
      max-width: auto;
      max-width: 90%;
      margin: auto;
  }

}

@media screen and (max-width: 550px) {

  .userForm {
    max-width: 20em !important;
  }

}
