/*******************************************************************************
 * Name: QuizziPedia::Front-End::CSS::create-question-main;
 *
 * Creation data: 12-05-2016;
 * Author: Matteo Granzotto;
 * License: MIT.
 ********************************************************************************
 * Updates history
 *-------------------------------------------------------------------------------
 * ID: create-question-main_20160526
 * Update data: 26-05-2016
 * Description: Aggiornato css;
 * Author: Matteo Granzotto.
 *-------------------------------------------------------------------------------
 * ID: create-question-main_20160512
 * Update data: 12-05-2016
 * Description: Creato css;
 * Author: Matteo Granzotto.
 *-------------------------------------------------------------------------------
 *******************************************************************************/

.question-creation {
    margin: auto;
    margin-top: 3em;
    width: 90%;
}

.text-center {
    text-align: center;
}

.toolbar {
    background-color: rgb(255,202,40) !important;
}

.md-padding {
    min-height: 6em;
    overflow: auto;
}


.questionspage {
    width: 90%;
    margin: auto;
}

.text-center {
    text-align: center;
}

.home-toolbar {
    background-color: rgb(255,202,40) !important;
}

.md-padding {
    min-height: 6em;
    overflow: auto;
}

.search-div {
    min-height: 6em;
    overflow: auto;
}

.textArea{
    min-height: 500px;
    min-width: 768px;
    width: 90%;
    margin: auto;
}

.contentQML{
    margin: auto;
    width: 80%;
}

.QMLtitle{
  margin: auto;
  width: 90%;
  text-align: center;
  font-size: 3em;
  margin-top: 1em;
  margin-bottom:1em;
}

/*Pulsanti Editor*/
.btn-group{
    display: none;
}

/*Pulsanti Editor*/
.btn-group{
    display: none;
}


/*Elenco domande utente*/
.modifyQuestionButton{
    padding-top: 2%;
    padding-bottom: 3%;
}

.modifyQuestionTitle{
  margin: auto;
  width: 80%;
}

.newQuestionButtons{
    padding-bottom: 3%;
}

.toolbar-section {
  min-height: 2.5em !important;
}

.toolbar-section div {
  height: 2.5em;
}

.inline-text {
  margin-top: 0.5em;
  display: inline;
}

.question-type {
  padding-top: 0.5em;
}

.li-question {
  list-style: none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.odd{
  background-color: #edebe8 !important;
}

.even {
  background-color: white !important;
}

.toolbar-top {
  margin-bottom: 1em;
}

.toolbar-bottom {
  margin-top: 1em;
  margin-bottom: 1em;
}

.question-edit {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 1170px) {

  .font {
    font-size: 0.6em;
  }

  .modifyQuestionTitle h2 {
    font-size: 0.9em;
  }

}

@media screen and (max-width: 1090px) {

  .font {
    font-size: 0.5em;
  }

  .modifyQuestionTitle h2 {
    font-size: 0.6em;
  }

}

.ace_content  {
  overflow-y: scroll !important;
}
