.question-creation {
    margin: auto;
    margin-top: 3em;
    width: 90%;
}

.text-center {
    text-align: center;
}

.toolbar {
    background-color: rgb(255,202,40) !important;
}

.md-padding {
    min-height: 6em;
    overflow: auto;
}


.questionspage {
    width: 90%;
    margin: auto;
}

.text-center {
    text-align: center;
}

.home-toolbar {
    background-color: rgb(255,202,40) !important;
}

.md-padding {
    min-height: 6em;
    overflow: auto;
}

.search-div {
    min-height: 6em;
    overflow: auto;
}

.textArea{
    min-height: 500px;
    min-width: 768px;
    width: 90%;
    margin: auto;
}

.contentQML{
    padding-right: 10%;
    padding-left: 10%;
}

.QMLtitle{
    padding-left: 27%;
}

/*Pulsanti Editor*/
.btn-group{
    display: none;
}

.contentQML{
    padding-right: 10%;
    padding-left: 10%;
}

.QMLtitle{
    padding-left: 27%;
}

/*Pulsanti Editor*/
.btn-group{
    display: none;
}


/*Elenco domande utente*/
.modifyQuestionButton{
    padding-top: 2%;
    padding-bottom: 3%;
}

.modifyQuestionTitle{
  margin: auto;
  width: 80%;
}

.newQuestionButtons{
    padding-bottom: 3%;
}

.toolbar-section {
  min-height: 2.5em !important;
}

.toolbar-section div {
  height: 2.5em;
}

.inline-text {
  margin-top: 0.5em;
  display: inline;
}

.question-type {
  padding-top: 0.5em;
}

.li-question {
  list-style: none;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.odd{
  background-color: .edebe8;
}

.even {
  background-color: white;
}

.toolbar-top {
  margin-bottom: 1em;
}

.toolbar-bottom {
  margin-top: 1em;
  margin-bottom: 1em;
}
