/*General*/
* {
  margin: 0px;
  padding: 0px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: Roboto;
  src: url(../Fonts/Roboto-Black.ttf);
}

button, html, input, select, textarea {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}


/*Menu*/
.logo > img {
  height: 150px;
  width: auto;
  display: block;
  margin: auto;
  margin-top: 2em;
}

.nav-header {
  text-align: center;
  font-weight: 400;
  font-size: 15px;
}

.nav-header > a {
  color: white;
  text-decoration: none;
}

md-sidenav, .menu {
  background-color: #FFC107 !important;
}

md-sidenav {
  height: 100vh;
}

.menu .md-button {
    border-radius: 0;
    color: white;
    cursor: pointer;
    display: block;
    align-items: inherit;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}

md-toolbar:not(.md-menu-toolbar) {
  background: #f6f6f6;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}

.hideMeOnDesktop {
  display: none;
}

@media screen and (max-width: 960px) {

  .hideMeOnMobile {
    display: none;
  }

  .hideMeOnDesktop {
    display: inline;
  }

}

.md-icon-button {
  display: block;
}

/*Ricerca*/

search-directive {
  display: inline;
  width: 50%;
}

@media screen and (max-width: 960px) {

  search-directive {
    display: inline;
    width: 100%;
  }

}


/*Footer*/
.icon-footer {
  height: 24px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.developed {
  font-weight: 900;
  font-size: 24px;
}

footer {
  margin-top: 3em;
}

footer ul  {
  list-style-type: none;
}

.madeBy {
  padding-top: 1em;
  padding-bottom: 0.5em;
}

/*
TO BE REMOVED*/

.homepage {
    width: 90%;
    margin: auto;
}

.sezione {
    margin-top: 3em;
}

.text-center {
    text-align: center;
}

.home-toolbar {
    background-color: rgb(255,202,40) !important;
}

.md-padding {
    min-height: 6em;
    overflow: auto;
}

.search-div {
    min-height: 6em;
    overflow: auto;
}


.questionspage {
    width: 90%;
    margin: auto;
}

.sezione {
    margin-top: 3em;
}

.text-center {
    text-align: center;
}

.home-toolbar {
    background-color: rgb(255,202,40) !important;
}

.md-padding {
    min-height: 6em;
    overflow: auto;
}

.search-div {
    min-height: 6em;
    overflow: auto;
}

#textArea{
    height: 500px;
}

#contentQML{
    padding-right: 10%;
    padding-left: 10%;
}

#QMLtitle{
    padding-left: 27%;
}

/*Pulsanti Editor*/
.btn-group{
    display: none;
}
#textArea{
    height: 500px;
}

#contentQML{
    padding-right: 10%;
    padding-left: 10%;
}

#QMLtitle{
    padding-left: 27%;
}

/*Pulsanti Editor*/
.btn-group{
    display: none;
}


/*Elenco domande utente*/
#modifyQuestionButton{
    padding-top: 2%;
    padding-bottom: 3%;
}

#modifyQuestionTitle{
    padding-left: 10%;
    padding-right: 10%;
}

#newQuestionButtons{
    padding-bottom: 3%;
}
