/*******************************************************************************
* Name: QuizziPedia::Front-End::CSS::create-question-small;
*
* Creation data: 12-05-2016;
* Author: Matteo Granzotto;
* License: MIT.
********************************************************************************
* Updates history
* -------------------------------------------------------------------------------
* Update data: 13-06-2016;
* Description: Corretto vari bugs;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
* ID: create-question-small_20160526
* Update data: 26-05-2016
* Description: Aggiornato css;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
* ID: create-question-small_20160512
* Update data: 12-05-2016
* Description: Creato css;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
*******************************************************************************/

 @media screen and (max-width: 350px) {

   .modifyQuestionTitle h2 {
     font-size: 0.6em;
   }

 }
