/*******************************************************************************
 * Name: QuizziPedia::Front-End::CSS::home-main;
 *
 * Creation data: 12-05-2016;
 * Author: Matteo Granzotto;
 * License: MIT.
 ********************************************************************************
 * Updates history
 *-------------------------------------------------------------------------------
 * ID: home-main_20160526
 * Update data: 26-05-2016
 * Description: Aggiornato css;
 * Author: Matteo Granzotto.
 *-------------------------------------------------------------------------------
 * ID: home-main_20160512
 * Update data: 12-05-2016
 * Description: Creato css;
 * Author: Matteo Granzotto.
 *-------------------------------------------------------------------------------
 *******************************************************************************/

.homepage {
  width: 90%;
  margin: auto;
}

.sezione {
  margin-top: 3em;
}

.text-center {
    text-align: center;
}

.home-toolbar {
  background-color: rgb(255,202,40) !important;
}

 .md-padding {
   min-height: 6em;
   overflow: auto;
 }

.search-div {
  min-height: 6em;
  overflow: auto;
}
