/*General*/

.logo-mobile-home {
  height: 30px !important;
  margin: 0px !important;
  margin-top: -10px !important;
  margin-left: 1em !important;
  display: inline-block !important;
}

.quizzipedia-mobile-home {
  display: inline-block;
  color: black;
  font-size: 25px !important;
  padding-top: 5px;
}

.logo-and-quizzipedia-mobile-home {
  display: block;
  width: 100%;
  margin-left: -30px;
}

@media screen and (max-width: 960px) {

  .hideMeOnMobile {
    display: none;
  }

  .hideMeOnDesktop {
    display: inline;
  }

}

/*Ricerca*/

@media screen and (max-width: 960px) {

  search-directive {
    display: inline;
    width: 100%;
  }

}
