marked {
  margin: auto;
  width: 80%;
  margin-top: 2em;
  font-size: 1.2em;
}

blockquote {
  border-left: 0px;
}

.index {
  width: 100%;
  display: block;
  text-align: center;
}

li> p {
  margin-bottom: 0px;
}
