/*******************************************************************************
 * Name: QuizziPedia::Front-End::CSS::qmlquestion-main;
 *
 * Creation data: 12-05-2016;
 * Author: Matteo Granzotto;
 * License: MIT.
 ********************************************************************************
 * Updates history
 *-------------------------------------------------------------------------------
 * ID: qmlquestion-main_20160526
 * Update data: 26-05-2016
 * Description: Aggiornato css;
 * Author: Matteo Granzotto.
 *-------------------------------------------------------------------------------
 * ID: qmlquestion-main_20160512
 * Update data: 12-05-2016
 * Description: Creato css;
 * Author: Matteo Granzotto.
 *-------------------------------------------------------------------------------
 *******************************************************************************/

.questionspage {
    width: 90%;
    margin: auto;
}

.sezione {
    margin-top: 3em;
}

.text-center {
    text-align: center;
}

.home-toolbar {
    background-color: rgb(255,202,40) !important;
}

.md-padding {
    min-height: 6em;
    overflow: auto;
}

.search-div {
    min-height: 6em;
    overflow: auto;
}

#textArea{
    height: 500px;
}

#contentQML{
    padding-right: 10%;
    padding-left: 10%;
}

#QMLtitle{
    padding-left: 27%;
}

/*Pulsanti Editor*/
.btn-group{
    display: none;
}
#textArea{
    height: 500px;
}

#contentQML{
    padding-right: 10%;
    padding-left: 10%;
}

#QMLtitle{
    padding-left: 27%;
}

/*Pulsanti Editor*/
.btn-group{
    display: none;
}


/*Elenco domande utente*/
#modifyQuestionButton{
    padding-top: 2%;
    padding-bottom: 3%;
}

#modifyQuestionTitle{
    padding-left: 10%;
    padding-right: 10%;
}

#newQuestionButtons{
    padding-bottom: 3%;
}
