/*******************************************************************************
 * Name: QuizziPedia::Front-End::CSS::question-main;
 *
 * Creation data: 12-05-2016;
 * Author: Matteo Granzotto;
 * License: MIT.
 ********************************************************************************
 * Updates history
 *-------------------------------------------------------------------------------
 * ID: question-main_20160526
 * Update data: 26-05-2016
 * Description: Aggiornato css;
 * Author: Matteo Granzotto.
 *-------------------------------------------------------------------------------
 * ID: question-main_20160512
 * Update data: 12-05-2016
 * Description: Creato css;
 * Author: Matteo Granzotto.
 *-------------------------------------------------------------------------------
 *******************************************************************************/

.questionText {
  font-size: 18px;
}

div.flex-xs {
  min-height: 40px;
}

div {
  clear: both;
}

md-checkbox {
  float: left;
}

p {
  padding-left: 8px;
}

fieldset.standard {
  border-style: solid;
  border-width: 1px;
}

legend {
  color: #3F51B5;
}

legend code {
  color: #3F51B5;
  font-weight: normal;
}

.ipsum {
  color: saddlebrown;
}

md-checkbox.md-checked ._md-icon {
  background-color: rgb(255,202,40) !important;
}

.answer-button.md-button.md-primary.md-raised {
  background-color: white;
}

.button-answer, .button-answer-true-false {
  background-color: rgb(255,202,40) !important;
}

.piece-of-question{
  margin: auto;
  max-width: 50%;
}

li {
  margin: 1em;
  list-style: none;
}

.zone {
  min-width: 10em;
  min-height: 10em;
  display: list-item;
  line-height: 10em;
  z-index: 78;
  position: absolute;
}

.img-answer {
  width: 9em;
  padding: 1em;
  max-height: 10em;
}

.inline {
  display: inline;
  margin: 2em;
}

.line {
  width: 15em;
  text-align: center;
  margin-left: 3em;
}

.box-in {
  width: 11em;
  height: 11em;
  display: inline-block;
  max-height: 11em;
}

.object-toolbar {
  max-height: 11em;
  background-color: rgb(255,202,40) !important;
  overflow: hidden;
  min-height: 5em;
}

.object-section {
  max-width: 14em;
}

.no-owerflow {
  overflow: hidden;
  z-index: -1;
}

.sort-images {
  line-height: 10em;
}

.question-image-container {
  width: 15em;
  margin: auto;
  padding: 1em;
}

.checkbox {
  max-width: 33%;
  width: 100%;
  display: inline-block;
  margin: auto !important;
}

.box-in-word-empty-answer {
  min-width: 7.5em;
  min-height: 3.5em;
  display: inline-block;
  line-height: 3.5em;
}

.box-in-word-empty-answer-zone {
  min-width: 8.5em;
  min-height: 4.5em;
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}

.word {
  line-height: 3.5em;
  vertical-align: text-bottom;
  margin-right: 0.2em;
}

.div-inline {
  display: inline-block;
}

.center {
  text-align: center;
}

.choice {
  margin-top: 1em;
}

.text-center {
  margin: 1em;
}

.keywords {
  vertical-align: text-bottom;
  display: inline-flex;
  min-width: 7em;
}

.text-to-order {
  display: inline;
  margin: auto;
  margin-top: 1em;
}

.no-overflow {
  overflow: hidden;
}
