/*******************************************************************************
* Name: QuizziPedia::Front-End::CSS::question-small;
*
* Creation data: 12-05-2016;
* Author: Matteo Granzotto;
* License: MIT.
********************************************************************************
* Updates history
* -------------------------------------------------------------------------------
* Update data: 13-06-2016;
* Description: Corretto vari bugs;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
* ID: question-small_20160526
* Update data: 26-05-2016
* Description: Aggiornato css;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
* ID: question-small_20160512
* Update data: 12-05-2016
* Description: Creato css;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
*******************************************************************************/

.order-text-element {
  display: block;
  min-width: 100%;
}

.line {
  margin-left: 0em;
}

.order-text-element {
  float:left;
}

.img-question {
  width: 6em;
  padding: 0em;
  max-height: 10em;
}

.zone-mobile {
  margin-left: 2em;
}
