/*Elenco domande utente*/
#modifyQuestionButton{
    padding-top: 2%;
    padding-bottom: 3%;
}

#modifyQuestionTitle{
    padding-left: 10%;
    padding-right: 10%;
}

#newQuestionButtons{
    padding-bottom: 3%;
}

