/*******************************************************************************
* Name: css
* Description: classe che contiene dei css;
* Creation data: 13-06-2016;
* Author: Matteo Granzotto.
********************************************************************************
* Updates history
* -------------------------------------------------------------------------------
* Update data: 13-06-2016;
* Description: Creata;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
*******************************************************************************/

 @media screen and (max-width: 575px) {

   .hide-me-when-i-am-ugly {
     font-size: 0.75em;
   }

 }

@media screen and (max-width: 650px) {

  .md-toolbar-tools h2 {
    font-size: 0.8em;
  }

}

@media screen and (max-width: 600px) {

  .md-toolbar-tools h2 {
    font-size: 0.9em;
    padding: 0.75em;
  }

  .modifyQuestionTitle {
    max-height: 5em !important;
    height: 5em !important;
  }

  .button-new-quiz {
    width: 90%;
    margin-top: 1em !important;
    margin-right: 0px !important;
  }

}
