.training {
  width: 90%;
  margin: auto;
}

.sezione {
  margin-top: 3em;
}

.text-center {
    text-align: center;
}

.toolbar {
  background-color: rgb(255,202,40) !important;
}

 .md-padding {
   min-height: 6em;
   overflow: auto;
 }

.question-picker {
  margin: 1em;
}

.question-picker .input-group {
  margin-left: 1em;
  margin-right: 1em;
}

.center-it {
  width: 60%;
  min-width: 200px;
  margin: auto;
  margin-bottom: 1em;
}

.topics {
  margin: 1em;
}

.questions md-checkbox {
  float: left;
  vertical-align: baseline;
  line-height: 2.5em;
  margin-left: 1em;
}

.questions fieldset {
  float: left;
}

.keywordsChip {
  width: 100%;
}

.keywordsChip md-chips-wrap {
  margin: 1em;
}

.toolbar-section {
  min-height: 2.5em !important;
}

.toolbar-section div {
  height: 2.5em;
}

.start-training {
  margin: 0 !important;
}

.end-training {
  margin-top: 3em;
}

.select-container {
  display: block;
}

.center-it-end {
  width: 90% !important;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.center-it-quiz {
  width: 95%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.keywords {
  min-width: 10em !important;
}

.inline-text {
  margin-top: 0.5em;
  display: inline;
}

.odd{
  background-color: #edebe8 !important;
}

.even {
  background-color: white !important;
}

.red{
  background-color: #F7464A !important;
  margin-top: 0.5em !important;
  color: white !important;
}


.green {
  background-color: #86FC72 !important;
  margin-top: 0.5em !important;
  color: white !important;
}

.mark {
  margin-top: -2.75em;
  padding-bottom: 2em;
  font-size: 6em;
  background-color: initial;
}

.mark-lang {
  font-size: 0.33em !important;
}

.mark-mark {
  margin-top: -0.25em;
}

.error-quiz-log {
  margin: auto;
  display: table;
  font-size: 1.5em;
  padding-top: 1em;
  padding-bottom: 2em;
  text-align: center;
}
