/*******************************************************************************
 * Name: QuizziPedia::Front-End::CSS::subsription-management-small;
 * Creation data: 27-05-2016;
 * Author: Matteo Granzotto;
 * License: MIT.
 ********************************************************************************
 * Updates history
 *-------------------------------------------------------------------------------
 * ID: subsription-management-medium_20160527;
 * Update data: 27-05-2016;
 * Description: Creato css;
 * Author: Matteo Granzotto.
 *-------------------------------------------------------------------------------
 *******************************************************************************/
 .hide-me-when-i-am-ugly {
   display: none;
 }

.hide-me-when-i-am-ugly-subscribers {
  font-size: 0.8em !important;
}

@media screen and (max-width: 350px) {

  .hide-me-when-i-am-ugly-subscribers {
    display: none;
  }

}
