.training {
  width: 90%;
  margin: auto;
}

.sezione {
  margin-top: 3em;
}

.text-center {
    text-align: center;
}

.toolbar {
  background-color: rgb(255,202,40) !important;
}

 .md-padding {
   min-height: 6em;
   overflow: auto;
 }

.question-picker {
  margin: 1em;
}

.question-picker .input-group {
  margin-left: 1em;
  margin-right: 1em;
}

.center-it {
  width: 60%;
  min-width: 200px;
  margin: auto;
  margin-bottom: 1em;
}

.topics {
  margin: 1em;
}

.questions md-checkbox {
  float: left;
  vertical-align: baseline;
  line-height: 2.5em;
  margin-left: 1em;
}

.questions fieldset {
  float: left;
}

.keywordsChip {
  width: 100%;
}

.keywordsChip md-chips-wrap {
  margin: 1em;
}

.toolbar-section {
  min-height: 2.5em !important;
}

.toolbar-section div {
  height: 2.5em;
}

.start-training {
  margin: 0 !important;
}

/*prove*/

.chipsdemoCustomInputs md-content.autocomplete {
  min-height: 200px; }

.chipsdemoCustomInputs input[type=number] {
  width: 110px; }

.chipsdemoCustomInputs .veggie-option {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 8px; }

.chipsdemoCustomInputs .veggie-option .md-item-text {
  padding: 8px;
  background: #f0f0f0;
  border-radius: 3px; }

.chipsdemoCustomInputs .veggie-option .md-item-text h3,
.chipsdemoCustomInputs .veggie-option .md-item-text p {
  padding: 0;
  margin: 0; }
