/*******************************************************************************
 * Name: QuizziPedia::Front-End::CSS::userview-main;
 *
 * Creation data: 12-05-2016;
 * Author: Matteo Granzotto;
 * License: MIT.
 ********************************************************************************
 * Updates history
 *-------------------------------------------------------------------------------
 * ID: userview-main_20160512
 * Update data: 12-05-2016
 * Description: Creato css;
 * Author: Matteo Granzotto.
 *-------------------------------------------------------------------------------
 *******************************************************************************/
.pie-chart {
  width: 200px !important;
  height: 200px !important;
}

.hide-me-when-i-am-ugly {
  display: none;
}

@media screen and (max-width: 345px) {

  .toolbar-section div {
      min-height: 6em;
  }

  .toolbar-section button {
    margin-top: 0.5em !important;
  }
}
