/*******************************************************************************
* Name: QuizziPedia::Front-End::CSS::userview-main;
*
* Creation data: 12-05-2016;
* Author: Matteo Granzotto;
* License: MIT.
********************************************************************************
* Updates history
* -------------------------------------------------------------------------------
* Update data: 13-06-2016;
* Description: Corretto vari bugs;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
* ID: userview-main_20160526
* Update data: 26-05-2016
* Description: Aggiornato css;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
* ID: userview-main_20160512
* Update data: 12-05-2016
* Description: Creato css;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
*******************************************************************************/

.user-view {
    margin: auto;
    margin-top: 3em;
    width: 90%;
}

.text-center {
    text-align: center;
}

.toolbar {
    background-color: rgb(255,202,40) !important;
}

.md-padding {
    min-height: 6em;
    overflow: auto;
}


.questionspage {
    width: 90%;
    margin: auto;
}

.text-center {
    text-align: center;
}

.home-toolbar {
    background-color: rgb(255,202,40) !important;
}

.md-padding {
    min-height: 6em;
    overflow: auto;
}

.search-div {
    min-height: 6em;
    overflow: auto;
}

.textArea{
    min-height: 500px;
    min-width: 768px;
    width: 90%;
    margin: auto;
}

.contentQML{
    margin: auto;
    width: 80%;
}

.QMLtitle{
    margin: auto;
    width: 90%;
    text-align: center;
    font-size: 3em;
    margin-top: 1em;
    margin-bottom:1em;
}

/*Pulsanti Editor*/
.btn-group{
    display: none;
}

/*Pulsanti Editor*/
.btn-group{
    display: none;
}


/*Elenco domande utente*/
.modifyQuestionButton{
    padding-top: 2%;
    padding-bottom: 3%;
}

.modifyQuestionTitle{
    margin: auto;
    width: 80%;
}

.newQuestionButtons{
    padding-bottom: 3%;
}

.toolbar-section {
    min-height: 2.5em !important;
}

.toolbar-section div {
    height: 2.5em;
}

.inline-text {
    margin-top: 0.5em;
    display: inline;
}

.question-type {
    padding-top: 0.5em;
}

.li-question {
    list-style: none;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.odd{
    background-color: .edebe8;
}

.even {
    background-color: white;
}

.toolbar-top {
    margin-bottom: 1em;
}

.toolbar-bottom {
    margin-top: 1em;
    margin-bottom: 1em;
}

.capitalized{
   text-transform: capitalize;
}

.user-details{
    margin-top: 1%;
}

.quizzes-done{
    margin-top: 2%;
}
.no-quiz{
    margin-left: 1%
 }

 user-details-directive, questionnaire-details-directive, questionnaire-done-details-directive, statistics-directive, approved-subscribe-directive {
  margin: auto;
  width: 80%;
  display: block;
 }

 .user-section-text {
   font-size: 1.8em;
 }

 .name {
   margin-right: 0.3em;
   font-size: 2em;
 }

 .img-user-container {
   display: inline-block;
   margin-top: 1em;
    margin-right: 3em;
 }

 .img-user {
   width: 12em;
   max-height: 14em;
   margin-top: -5em;
 }

.user-container {
  display: inline-block;
  line-height: 3em;
}

.user-container-section {
  margin-top: 2em;
}

.quizzipedia-color {
  background-color: rgb(255,202,40) !important;
}

.a-quarter {
  width: 24%;
  margin: 0px;
  text-align: center;
  display: inline-block;
}

.a-quarter-33 {
  width: 32%;
  margin: 0px;
  text-align: center;
  display: inline-block  !important;
}

.a-quarter-title {
  width: 24%;
  margin: 0px;
  text-align: center;
  display: inline-block;
}

.a-quarter-title-33 {
  width: 50vh;
  margin: 0px;
  text-align: center;
  display: inline-block;
}

.no-padding {
  padding-left: 0px;
}

.no-wrap {
  word-wrap: break-all;
  font-size: 1.5em;
  display: table-cell;
  vertical-align: middle;
}

.vertical-align {
  margin-top: 0.75em;
  margin-right: 0.5em;
}

.center-it {
  margin: auto;
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
}

.center {
  text-align: center;
}

.padding-bottom {
  padding-bottom: 1em;
}

.line {
  margin-bottom: 0.8em;
  min-height: 3.75em;
}

.legends {
  background-color: rgba(255, 250, 40, 0.28) !important;
  margin-bottom: 0.8em;
}

.line-container {
  width: 100%;
}
