/*******************************************************************************
 * Name: QuizziPedia::Front-End::CSS::userview-main;
 *
 * Creation data: 12-05-2016;
 * Author: Matteo Granzotto;
 * License: MIT.
 ********************************************************************************
 * Updates history
 *-------------------------------------------------------------------------------
 * ID: userview-main_20160526
 * Update data: 26-05-2016
 * Description: Aggiornato css;
 * Author: Matteo Granzotto.
 *-------------------------------------------------------------------------------
 * ID: userview-main_20160512
 * Update data: 12-05-2016
 * Description: Creato css;
 * Author: Matteo Granzotto.
 *-------------------------------------------------------------------------------
 *******************************************************************************/

 .img-user {
   margin-top: 0em;
 }

 @media screen and (max-width: 660px) {

  .center-on-column {
    text-align: center;
    display: block;
    width: 95%;
    margin: auto;
    padding: 0.5em;
    border-top-style: dotted;
    border-top-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.13);
  }

  .no-border {
    border: none;
  }

  .divided {
    width: 100%;
    text-align: center;
  }

  .line-container {
    width: 100%;
  }

 }

 @media screen and (max-width: 575px) {

   .hide-me-when-i-am-ugly {
     font-size: 0.75em;
   }

 }
