<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Views::CreateQuestionnaireView;
* Description:
* Relations with other classes:
* +
* Creation data: 03-05-2016;
* Author: Simone Magagna;
* License: MIT.
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: CreateQuestionnaireView_20160305;
* Update data: 03-05-2016;
* Description: Creata la classe;
* Author: Simone Magagna.
*-------------------------------------------------------------------------------
*******************************************************************************/
-->

<style>

    .pagination a:hover,
    .pagination .active a {
        background-color: #FFC107 !important;
        color: #ffffff;
        border-color: transparent;
    }

    .pagination :not(.disabled):not(.active) a{
        color: lightgrey;
    }

    .pagination .disabled span,
    .pagination .disabled a:hover {
        color: #999999;
        background-color: transparent;
        cursor: default;
    }



</style>
<div layout="column" flex id="content" role="main" ng-controller="AppController">

    <div class=" authpage layout-sm-column layout-align-center layout-column" layout="column" layout-align="center"  >

        <section class="sezione md-whiteframe-z1" layout-sm="column" layout-align="center">

            <md-toolbar class="md-primary toolbar">
                <div class="md-toolbar-tools">
                    <span flex="" class="flex"></span>
                    <h3 class="ng-binding">{{listOfKeys.titleLangCreateQuestionnaire}}</h3>
                    <span flex="" class="flex"></span>
                </div>
            </md-toolbar>

            <div layout="row" layout-align="center center" >
                <form name="quizForm" class=" userForm layout-align-center layout-column flex-80" layout="column" layout-align="center">

                    <md-input-container class="md-block">
                        <label>{{listOfKeys.titleCreateQuestionnaireView}}</label>
                        <input required="" type="text" name="name" ng-model="quiz.title">

                        <div ng-messages="userForm.name.$error" role="alert">
                            <div ng-message-exp="['required']">
                                {{listOfKeys.titleQuestionnaire}}
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>{{listOfKeys.argumentTopicKeywordsDirective}}</label>
                        <md-select ng-model="quiz.topic" ng-change="showAllQuestions(quiz.topic,null)">
                            <md-optgroup label={{listOfKeys.argumentsTopicKeywordsDirective}}>
                                <md-option ng-value="topic.name"   ng-repeat="topic in topics">{{topic.name}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>

                    <md-card ng-if="questions_selected.length>0" >
                        <md-card-content>
                            <md-card-title>
                                <md-card-title-text >
                                    <h4 class="text-center">Domande inserite</h4>
                                </md-card-title-text>
                            </md-card-title>
                            <md-list >
                                <md-item class="md-3-line" ng-repeat="question_selected in  questions_selected" >
                                    <md-item-content >
                                        <div layout="row" layout-align="space-around center">
                                            <div flex="60" >
                                                <h4>{{$index+1}}) Domanda creata con {{question_selected.makeWith}}</h4>
                                                <div  ng-repeat="q in question_selected.question">
                                                    <h5>Tipologia: {{q.type}}</h5>
                                                    <p>Testo: {{q.questionText}}</p>
                                                </div>
                                            </div>
                                            <md-input-container >
                                                <md-button class="md-raised md-warn" ng-click="deleteQuestion(question_selected)">Rimuovi</md-button>
                                            </md-input-container>
                                        </div>
                                    </md-item-content>
                                </md-item>
                            </md-list>
                        </md-card-content>
                    </md-card>



                    <md-tabs md-dynamic-height md-border-bottom  md-stretch-tabs="always">
                        <md-tab label="Ricerca Domande" >
                            <div layout="row" layout-align="center center">
                            <md-content class="md-padding" flex="100">
                                <div layout="row" layout-align="space-around center">
                                    <md-input-container flex="80" >
                                        <label>Search</label>
                                        <input ng-model="search" ng-change="updateSearch()">
                                    </md-input-container>
                                    <md-input-container  >
                                        <md-checkbox ng-model="filter[userLogged.getId()]">Yours</md-checkbox>
                                    </md-input-container>
                                </div>
                            </md-content>
                            </div>
                        </md-tab>
                    </md-tabs>

                    <md-card ng-if="questions.length>0">
                        <md-card-title>
                            <md-card-title-text >
                                <h4 class="text-center">Domande Trovate</h4>
                            </md-card-title-text>
                        </md-card-title>
                        <md-list>
                            <md-item class="md-3-line" ng-repeat="question in filtered=(questions  | filter:filterByYours | filter:search| startFrom:(currentPage-1)*numPerPage | limitTo:numPerPage)">
                                <md-item-content >
                                    <div layout="row" layout-align="space-around center">
                                        <div flex="60" >
                                            <h4>{{(currentPage-1)*10+$index+1}}) Domanda creata con {{question.makeWith}}</h4>
                                            <div  ng-repeat="q in question.question">
                                                <h5>Tipologia: {{q.type}}</h5>
                                                <p>Testo: {{q.questionText}}</p>
                                            </div>
                                        </div>
                                        <md-input-container >
                                            <md-button class="md-raised md-primary"  ng-click="addQuestion(question)">Aggiungi</md-button>
                                        </md-input-container>
                                    </div>
                                </md-item-content>
                            </md-item>
                            <div layout="row" layout-align="center center">
                                <uib-pagination class="text-center pagination-sm"
                                        ng-model="currentPage"
                                        total-items="(questions | filter:search).length"
                                        max-size="maxSize"
                                        items-per-page="numPerPage"
                                        boundary-links="true"
                                                previous-text="&lsaquo;"
                                                next-text="&rsaquo;"
                                                first-text="&laquo;"
                                                last-text="&raquo;"
                                >
                                </uib-pagination>
                            </div>
                        </md-list>
                    </md-card>


                    <md-input-container layout-align="center center">
                        <div layout="row" layout-sm="column" layout-margin>
                            <md-button ng-disabled="questions_selected.length==0" ng-click="createQuestionnaire(quiz)" class="md-raised md-primary" flex="50" flex-sm="100">{{listOfKeys.buttonConfirmLangCreateQuestionnaire}}</md-button>
                        </div>
                    </md-input-container>

                </form>

            </div>

        </section>

    </div>

</div>