<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Views::CreateQuestionnaireView;
* Description:
* Relations with other classes:
* +
* Creation data: 03-05-2016;
* Author: Simone Magagna;
* License: MIT.
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: CreateQuestionnaireView_20160305;
* Update data: 03-05-2016;
* Description: Creata la classe;
* Author: Simone Magagna.
*-------------------------------------------------------------------------------
*******************************************************************************/
-->
<div layout="column" flex id="content" role="main" ng-controller="AppController">

    <div class=" authpage layout-sm-column layout-align-center layout-column" layout="column" layout-align="center"  >

        <section class="sezione md-whiteframe-z1" layout-sm="column" layout-align="center">

            <md-toolbar class="md-primary toolbar">
                <div class="md-toolbar-tools">
                    <span flex="" class="flex"></span>
                    <h3 class="ng-binding">{{listOfKeys.titleLangCreateQuestionnaire}}</h3>
                    <span flex="" class="flex"></span>
                </div>
            </md-toolbar>

            <div layout="row" layout-align="center center" >
                <form name="userForm" class=" userForm layout-align-center layout-column flex-80" layout="column" layout-align="center">

                    <md-input-container class="md-block">
                        <label>{{listOfKeys.nameCreateQuestionnaireView}}</label>
                        <input required="" type="text" name="name" ng-model="quiz.name">

                        <div ng-messages="userForm.name.$error" role="alert">
                            <div ng-message-exp="['required']">
                                {{listOfKeys.nameQuestionnaire}}
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>{{listOfKeys.keywordTopicKeywordsDirective}}</label>
                        <input ng-model="quiz.keyword">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>{{listOfKeys.argumentTopicKeywordsDirective}}</label>
                        <md-select ng-model="quiz.selectedItem" md-selected-text="getSelectedText()">
                            <md-optgroup label={{listOfKeys.argumentsTopicKeywordsDirective}}>
                                <md-option ng-value="item" ng-repeat="item in items">{{item}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>


                    <md-input-container layout-align="center center">
                        <div layout="row" layout-sm="column" layout-margin>
                            <md-button ng-click="createQMLQuestion()" class="md-raised md-primary" flex="50" flex-sm="100">+ {{listOfKeys.buttonLangCreateQMLQuestion}}</md-button>
                        </div>
                    </md-input-container>

                    <md-input-container layout-align="center center">
                        <div layout="row" layout-sm="column" layout-margin>
                            <md-button ng-disabled="userForm.$invalid" ng-click="createQuestionnaire(quiz)" class="md-raised md-primary" flex="50" flex-sm="100">{{listOfKeys.buttonConfirmLangCreateQuestionnaire}}</md-button>
                        </div>
                    </md-input-container>

                </form>

            </div>

        </section>

    </div>

</div>