<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Views::CreateWithWizardView;
* Description: view contenente le form dedicate alla creazione di domanda con
* Wizard;
* Creation data: 03-05-2016.
* Author: Alberto Ferrara;
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: CreateWithWizardView_20160526;
* Update data: 26-05-2016;
* Description: Aggiornata la view;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
* ID: CreateWithWizardView_20160503;
* Update data: 03-05-2016;
* Description: creazione view;
* Author: Alberto Ferrara.
*-------------------------------------------------------------------------------
*******************************************************************************/
-->
<!-- Metadata -->
<title ng-bind="ngMeta.title"></title>
<meta name="description" content="{{ngMeta.description}}" />
        <div layout="column" flex id="content" role="main" ng-controller="AppController">

                <div class=" authpage layout-sm-column layout-align-center layout-column" layout="column" layout-align="center"  >

                        <section class="sezione md-whiteframe-z1" layout-sm="column" layout-align="center">

                                <md-toolbar class="md-primary toolbar">
                                        <div class="md-toolbar-tools">
                                                <span flex="" class="flex"></span>
                                                <h3 class="ng-binding">{{listOfKeys.createWizard}}</h3>
                                                <span flex="" class="flex"></span>
                                        </div>
                                </md-toolbar>
                        </section>

                </div>

        </div>
