<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Views::EditorQMLView
* Description: view contenente le form dedicate alla creazione di domanda con QML
* Relations with other classes:
*
* Creation data: 03-04-2016
* Author: Alberto Ferrara
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: EditorQMLView_20160503;
* Update data: 03-05-2016;
* Description: creazione view;
* Author: Alberto Ferrara.
*-------------------------------------------------------------------------------
*******************************************************************************/
-->

        <div layout="column" flex id="content" role="main" ng-controller="AppController">

            <div class="layout-sm-column layout-align-center layout-column" layout="column" layout-align="center"  >

                <section class="sezione md-whiteframe-z1" layout-sm="column" layout-align="center">

                    <md-toolbar class="md-primary toolbar">
                        <div class="md-toolbar-tools">
                            <span flex="" class="flex"></span>
                            <h3 class="ng-binding">{{listOfKeys.titleLangQML}}</h3>
                            <span flex="" class="flex"></span>
                        </div>
                    </md-toolbar>



                    <h1 id="QMLtitle">{{listOfKeys.writeHereLang}}</h1>
                    <div id="contentQML">
                        <textarea id="textArea" name="question" ng-model="question" style="width: 100%"></textarea>
                    </div>
                    <div layout="row" layout-align="center center" >
                        <form name="userForm" class=" userForm layout-align-center layout-column flex-80" layout="column" layout-align="center">
                            <md-input-container layout-align="center center">
                                <div layout="row" layout-sm="column" layout-margin>
                                    <md-button ng-click="goToWizard()" class="md-raised md-primary" flex="50" flex-sm="100">{{listOfKeys.goToWizard}}</md-button>
                                    <md-button ng-click="submitQuestion(question)" class="md-raised md-primary" flex="50" flex-sm="100">{{listOfKeys.buttonConfirmLangQML}}</md-button>
                                </div>
                            </md-input-container>

                        </form>

                    </div>

                </section>

            </div>

        </div>
