<!--
/*******************************************************************************
* Nome: QuizziPedia::Front-End::Views::ErrorView;
* Creation data: 27-04-2016;
* Author: Matteo Granzotto;
* License: MIT.
********************************************************************************
* Updates history
* ID: ErrorView_20160430;
* Update data: 01-05-2016;
* Description: Ultimato codice;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
*******************************************************************************/
-->
<!-- Metadata -->
<title ng-bind="ngMeta.title"></title>
<meta name="description" content="{{ngMeta.description}}" />

<div ng-controller="AppController">

    <div class="errore">
      <img src="Images/Icons/logo.png"/>
      <img src="Images/Icons/sheep.png"/>
    </div>

</div>
