<!--
/*******************************************************************************
 * Name: QuizziPedia::Front-End::Views::LoginView;
 * Description: view contenente le form necessarie per e ettuare il login. Contiene inoltre un link alla pagina di
 * registrazione e uno alla pagina per il recupero della password;
 *
 * Relations with other classes:
 * + LoginModelView
 * + LangModel
 *
 * Creation data: 28-04-2016;
 * Author: Alberto Ferrara;
 * License: MIT.
 ********************************************************************************
 * Updates history
 *-------------------------------------------------------------------------------
 * ID: LoginView_20160428
 * Update data: 28-04-2016
 * Description: Creata la view;
 * Author: Alberto Ferrara.
 *-------------------------------------------------------------------------------
 *******************************************************************************/
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>