<!--
/*******************************************************************************
 * Name: QuizziPedia::Front-End::Views::LoginView;
 * Description: view contenente le form necessarie per e ettuare il login. Contiene inoltre un link alla pagina di
 * registrazione e uno alla pagina per il recupero della password;
 *
 * Relations with other classes:
 * + LoginModelView
 * + LangModel
 *
 * Creation data: 28-04-2016;
 * Author: Alberto Ferrara;
 * License: MIT.
 ********************************************************************************
 * Updates history
 *-------------------------------------------------------------------------------
 * ID: LoginView_20160428
 * Update data: 28-04-2016
 * Description: Creata la view;
 * Author: Alberto Ferrara.
 *-------------------------------------------------------------------------------
 *******************************************************************************/
-->

<div layout="column" flex id="content" role="main" ng-controller="AppController">
    <md-content layout="vertical" flex id="content">
        <div layout="row" layout-align="center center" layout-fill>
            <md-whiteframe class="md-whiteframe-z1" layout="column" flex="30" layout-padding>
                <md-content md-theme="docs-dark">
                    <md-input-container>
                        <label>Email</label>
                        <input ng-model="user.email">
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input ng-model="user.password" type="password">
                    </md-input-container>
                    <md-input-container layout-align="center center">
                        <div layout="row" layout-sm="column" layout-margin>
                            <md-button class="md-raised" flex="50" flex-sm="100">Login</md-button>
                        </div>
                    </md-input-container>
                </md-content>
            </md-whiteframe>
        </div>
    </md-content>
</div>
