<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Views::PasswordForgotView;
* Description: view per il recuper della password;
* Creation data: 27-04-2016;
* Author: Simone Magagna.
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: PasswordForgotView_20160526;
* Update data: 26-05-2016;
* Description: Aggiornata la view;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
* ID: PasswordForgotView_20160501;
* Update data: 01-05-2016;
* Description: Uniformato lo stile;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
* ID: PasswordForgotView_20160427;
* Update data: 27-04-2016;
* Description: creazione;
* Author: Simone Magagna.
*-------------------------------------------------------------------------------
*******************************************************************************/
-->
<!-- Metadata -->
<title ng-bind="ngMeta.title"></title>
<meta name="description" content="{{ngMeta.description}}" />

<div layout="column" flex id="content" role="main" ng-controller="AppController">

  <div class=" authpage layout-sm-column layout-align-center layout-column" layout="column" layout-align="center"  >

    <section class="sezione md-whiteframe-z1" layout-sm="column" layout-align="center">

      <md-toolbar class="md-primary toolbar">
        <div class="md-toolbar-tools">
          <span flex="" class="flex"></span>
          <h3 class="ng-binding">{{listOfKeys.titleLangPasswordForgot}}</h3>
          <span flex="" class="flex"></span>
        </div>
      </md-toolbar>

      <div layout="row" layout-align="center center" layout-fill>
        <form name="userForm" class=" userForm layout-align-center layout-column flex-80" layout="column" layout-align="center">
          <md-input-container class="md-block">
              <label>{{listOfKeys.emailLangSignUp}}</label>
              <input required="" type="email" name="email" ng-model="user.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
              <div ng-messages="userForm.email.$error" role="alert">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                    {{listOfKeys.errorEmail}}
                </div>
              </div>
          </md-input-container>
          <md-input-container layout-align="center center">
            <div layout="row" layout-sm="column" layout-margin>
                <md-button ng-disabled="userForm.$invalid" ng-click="passwordForgot()" class="md-raised md-primary" flex="50" flex-sm="100">{{listOfKeys.recoveryButtonLangPasswordForgot}}</md-button>
                <md-button ng-click="logIn()" class="md-raised md-primary" flex="50" flex-sm="100">{{listOfKeys.loginButtonLangPasswordForgot}}</md-button>
            </div>
          </md-input-container>

        </form>
      </div>


    </section>

  </div>

</div>
