<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Views::PasswordForgotView
* Description:
* Relations with other classes:
* + PasswordForgotController
* + LangModel
* Creation data: 27-04-2016
* Author: Simone Magagna
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: PasswordForgotView_20160427
* Update data: 27-04-2016
* Description: creazione
* Author: Simone Magagna
*-------------------------------------------------------------------------------
*******************************************************************************/
-->
