<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Views::PasswordForgotView
* Description:
* Relations with other classes:
* + PasswordForgotController
* + LangModel
* Creation data: 27-04-2016
* Author: Simone Magagna
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: PasswordForgotView_20160427
* Update data: 27-04-2016
* Description: creazione
* Author: Simone Magagna
*-------------------------------------------------------------------------------
*******************************************************************************/
-->
<div ng-controller="AppController" layout="column" flex id="content" role="main">
    <h1>{{listOfKeys.titleLangPasswordForgot}}</h1>
    <md-content layout="vertical" flex id="content">
        <div layout="row" layout-align="center center" layout-fill>
            <md-whiteframe class="md-whiteframe-z1" layout="column" flex="30" layout-padding>
                <md-content md-theme="docs-dark">
                    <form name="userForm">
                        <md-input-container class="md-block">
                            <label>{{listOfKeys.emailLangSignUp}}</label>
                            <input required="" type="email" name="email" ng-model="user.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">

                            <div ng-messages="userForm.email.$error" role="alert">
                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                    {{listOfKeys.errorEmail}}
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container layout-align="center center">
                            <div layout="row" layout-sm="column" layout-margin>
                                <md-button ng-disabled="userForm.$invalid" ng-click="" class="md-raised md-primary" flex="50" flex-sm="100">{{listOfKeys.recoveryButtonLangPasswordForgot}}</md-button>
                                <md-button ng-click="" class="md-raised md-primary" flex="50" flex-sm="100">{{listOfKeys.loginButtonLangPasswordForgot}}</md-button>
                            </div>
                        </md-input-container>
                    </form>
                </md-content>
            </md-whiteframe>
        </div>
    </md-content>
</div>
