<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Views::ProfileManagementView;
* Description: view contenente i dati personali che un utente può modificare dopo essersi
* registrato al sistema;
* Creation data: 25-05-2016;
* Author: Simone Magagna.
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: ProfileManagementView_20160526;
* Update data: 26-05-2016;
* Description: Aggiornata la view;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
* ID: ProfileManagementView_20160525;
* Update data: 25-05-2016;
* Description: Creata la classe;
* Author: Simone Magagna
*-------------------------------------------------------------------------------
*******************************************************************************/
-->
<!-- Metadata -->
<title ng-bind="ngMeta.title"></title>
<meta name="description" content="{{ngMeta.description}}" />

<div layout="column" flex id="content" role="main" ng-controller="AppController">

    <div class=" authpage layout-sm-column layout-align-center layout-column" layout="column" layout-align="center"  >

        <section class="sezione md-whiteframe-z1" layout-sm="column" layout-align="center">

            <md-toolbar class="md-primary toolbar">
                <div class="md-toolbar-tools">
                    <span flex="" class="flex"></span>
                    <h3 class="ng-binding">{{listOfKeys.titleLangProfileManagementView}}</h3>
                    <span flex="" class="flex"></span>
                </div>
            </md-toolbar>

            <div layout="row" layout-align="center center" >
                <form name="userForm" class=" userForm layout-align-center layout-column flex-80" layout="column" layout-align="center">

                    <md-input-container class="md-block">
                        <span>{{listOfKeys.profileManagementName}}</span>
                        <input ng-model="userLog.name">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <span>{{listOfKeys.profileManagementSurname}}</span>
                        <input ng-model="userLog.surname">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <span>{{listOfKeys.profileManagementEmail}}</span>
                        <input type="email" name="email" ng-model="userLog.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">

                        <div ng-messages="userForm.email.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                {{listOfKeys.errorEmail}}
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <span>{{listOfKeys.profileManagementPassword}}</span>
                        <input type="password" name="password" ng-model="userLog.password" minlength="8">

                        <div ng-messages="userForm.password.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength']">
                                {{listOfKeys.errorPassword}}
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <span>{{listOfKeys.profileManagementConfirmPassword}}</span>
                        <input type="password" name="passwordCheck" ng-model="userLog.passwordCheck" minlength="8">

                        <div ng-messages="userForm.password.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength']">
                                {{listOfKeys.errorPassword}}
                            </div>
                        </div>
                    </md-input-container>


                    <md-input-container layout-align="center center">
                        <div layout="row" layout-sm="column" layout-margin>
                            <md-button ng-disabled="userForm.$invalid" ng-click="modify(userLog)" class="md-raised md-primary" flex="50" flex-sm="100">{{listOfKeys.buttonLangModifyProfile}}</md-button>
                            <md-button ng-click="changeAccountTipology()" class="md-raised md-primary" flex="50" flex-sm="100">{{listOfKeys.buttonLangChangeAccountTipology}}</md-button>
                        </div>
                    </md-input-container>

                </form>

            </div>

        </section>

        <section class="sezione md-whiteframe-z1" layout-sm="column" layout-align="center">

            <md-toolbar class="md-primary toolbar">
                <div class="md-toolbar-tools">
                    <span flex="" class="flex"></span>
                    <h3 class="ng-binding">{{listOfKeys.titleDeleteProfile}}</h3>
                    <span flex="" class="flex"></span>
                </div>
            </md-toolbar>

            <div class="md-padding">
                <p class="text-center">{{listOfKeys.textDeleteAccount}}</p>
                <div layout="row" layout-sm="column" layout-align="center">
                    <button class="md-primary md-raised md-button md-ink-ripple flex-80" type="button" ng-click="deleteProfile()" aria-label="{{listOfKeys.goToTraing}}">
                        <span>{{listOfKeys.buttonLangDeleteProfile}}</span>
                    </button>
                </div>
            </div>
        </section>

    </div>

</div>
