<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Views::ProfileManagementView;
* Description: view contenente i dati personali che un utente può modificare dopo essersi
* registrato al sistema;
* Creation data: 25-05-2016;
* Author: Simone Magagna.
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: ProfileManagementView_20160526;
* Update data: 26-05-2016;
* Description: Aggiornata la view;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
* ID: ProfileManagementView_20160525;
* Update data: 25-05-2016;
* Description: Creata la classe;
* Author: Simone Magagna
*-------------------------------------------------------------------------------
*******************************************************************************/
-->

<!-- Metadata -->
<title ng-bind="ngMeta.title"></title>
<meta name="description" content="{{ngMeta.description}}" />
<div layout="column" flex id="content" role="main" ng-controller="AppController">

    <div class=" authpage layout-sm-column layout-align-center layout-column" layout="column" layout-align="center"  >

        <section class="sezione md-whiteframe-z1" layout-sm="column" layout-align="center">

            <md-toolbar class="md-primary toolbar">
                <div class="md-toolbar-tools">
                    <span flex="" class="flex"></span>
                    <h3 class="ng-binding">{{listOfKeys.titleLangProfileManagementView}}</h3>
                    <span flex="" class="flex"></span>
                </div>
            </md-toolbar>


            <div layout="row" layout-align="center center" >
                <form name="userForm" enctype="multipart/form-data" ng-submit="modify(userLog)" class=" userForm layout-align-center layout-column flex-80" layout="column" layout-align="center">

                    <div style="margin-top:2em;" class="image-upload text-center">
                            <label class="image-label" for="file-input">
                                    <div class="image-hover">
                                        <div class="image-hover-content">
                                            <img src="Images/Icons/plus-button.png" >
                                        </div>
                                    </div>
                                    <img style="width:200px" ngf-thumbnail="userLog.image || 'Images/Members/user-default.png'"  class="thumb">
                            </label>

                            <input type="file" name="file-input" id="file-input"  ngf-select ng-model="userLog.image"  accept="image/*" ngf-max-size="2MB" >
                            <md-button id="removeImage" aria-label="aria-label"  class="md-raised md-primary" flex="50" flex-sm="100" flex-xs="100" ng-click="userLog.image = 'Images/Members/user-default.png'" ng-show="userLog.image != 'Images/Members/user-default.png' && userLog.image">Remove</md-button>
                    </div>

                    <!--<md-input-container class="md-block">
                        <label for="file-input">
                            <img style="width:200px" ngf-thumbnail="userLog.image"  class="thumb">
                        </label>
                        <input type="file" name="file-input" id="file-input" ngf-select ng-model="userLog.image"  accept="image/*" ngf-max-size="2MB" >

                         <md-button aria-label="aria-label"  class="md-raised md-primary" flex="50" flex-sm="100" ng-click="userLog.image = null" ng-show="userLog.image">Remove</md-button>
                         <md-button aria-label="aria-label"  class="md-raised md-primary" type="submit">Conferma</md-button>
                    </md-input-container>-->

                    <md-input-container class="md-block">
                        <span>{{listOfKeys.profileManagementName}}</span>
                        <input ng-model="userLog.name">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <span>{{listOfKeys.profileManagementSurname}}</span>
                        <input ng-model="userLog.surname">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <span>{{listOfKeys.profileManagementEmail}}</span>
                        <input type="email" name="email" ng-model="userLog.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">

                        <div ng-messages="userForm.email.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                {{listOfKeys.errorEmail}}
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <span>{{listOfKeys.profileManagementPassword}}</span>
                        <input type="password" name="password" ng-model="userLog.password" minlength="8">

                        <div ng-messages="userForm.password.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength']">
                                {{listOfKeys.errorPassword}}
                            </div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <span>{{listOfKeys.profileManagementConfirmPassword}}</span>
                        <input type="password" name="passwordCheck" ng-model="userLog.passwordCheck" minlength="8">

                        <div ng-messages="userForm.password.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength']">
                                {{listOfKeys.errorPassword}}
                            </div>
                        </div>
                    </md-input-container>


                    <md-input-container layout-align="center center">
                        <div layout="row" layout-sm="column" layout-margin>
                            <md-button id="confirmModifyProfile" aria-label="aria-label"  ng-disabled="userForm.$invalid" type="submit" class="md-raised md-primary" flex="50" flex-sm="100" flex-xs="100">{{listOfKeys.buttonLangModifyProfile}}</md-button>
                        </div>
                    </md-input-container>
                </form>


            </div>

        </section>

        <section class="sezione md-whiteframe-z1" layout-sm="column" layout-align="center">

            <md-toolbar class="md-primary toolbar">
                <div class="md-toolbar-tools">
                    <span flex="" class="flex"></span>
                    <h3 class="ng-binding">{{listOfKeys.titleChangeAccount}}</h3>
                    <span flex="" class="flex"></span>
                </div>
            </md-toolbar>

            <div class="md-padding">
                <p class="text-center">{{listOfKeys.textChangeAccount}}</p>
                <div layout="row" layout-sm="column" layout-align="center">
                    <button id="changePrivilegeAccount" aria-label="aria-label"  class="change md-primary md-raised md-button md-ink-ripple flex-80" type="button" ng-click="changeAccount()" aria-label="{{listOfKeys.buttonLangChangeAccountTipology}}">
                        <span ng-if="userLog.privilege === 'normal'">{{listOfKeys.buttonLangChangeAccountTipologyPro}}</span>
                        <span ng-if="userLog.privilege === 'pro'">{{listOfKeys.buttonLangChangeAccountTipologyNormal}}</span>
                    </button>
                </div>
            </div>
        </section>

        <section class="sezione md-whiteframe-z1" layout-sm="column" layout-align="center">

            <md-toolbar class="md-primary toolbar">
                <div class="md-toolbar-tools">
                    <span flex="" class="flex"></span>
                    <h3 class="ng-binding">{{listOfKeys.titleDeleteProfile}}</h3>
                    <span flex="" class="flex"></span>
                </div>
            </md-toolbar>

            <div class="md-padding">
                <p class="text-center">{{listOfKeys.textDeleteAccount}}</p>
                <div layout="row" layout-sm="column" layout-align="center">
                    <button id="deleteAccount" aria-label="aria-label"  class="change md-primary md-raised md-button md-ink-ripple flex-80" type="button" ng-click="deleteAccount()" aria-label="{{listOfKeys.buttonLangDeleteProfile}}">
                        <span>{{listOfKeys.buttonLangDeleteProfile}}</span>
                    </button>
                </div>
            </div>
        </section>

    </div>

</div>
