<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Views::ProfileManagementView
* Description: view contenente i dati personali che un utente può modificare dopo essersi
* registrato al sistema
* Creation data: 25-05-2016
* Author: Simone Magagna
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: ProfileManagementView_20160525;
* Update data: 25-05-2016;
* Description: Creata la classe;
* Author: Simone Magagna
*-------------------------------------------------------------------------------
*******************************************************************************/
-->

<div layout="column" flex id="content" role="main" ng-controller="AppController" >

    <div class="layout-sm-column layout-align-center layout-column" layout="column" layout-align="center"  >
        <section class="user-view md-whiteframe-z1" layout-sm="column" layout-align="center">
            <md-toolbar class="md-primary toolbar">
                <div class="md-toolbar-tools">
                    <span flex="" class="flex"></span>
                    <h2 class="ng-binding">{{listOfKeys.titleLangUserView}}</h2>
                    <span flex="" class="flex"></span>
                </div>
            </md-toolbar>
        </section>

    </div>

</div>
