<!--
/*******************************************************************************
 * Name: QuizziPedia::Front-End::Views::QMLtutorial;
 * Description: view statica per guidare l'utente alla realizzazione di una
 * domanda tramite il linguaggio QML;
 * il recupero della password;
 * Creation data: 26-05-2016;
 * Author: Matteo Gnoato;
 * License: MIT.
 ********************************************************************************
 * Updates history
 *-------------------------------------------------------------------------------
 * ID: QMLtutorial_20160526;
 * Update data: 26-05-2016;
 * Description: ;
 * Author: Matteo Gnoato;
 *-------------------------------------------------------------------------------
 *******************************************************************************/
-->
<title ng-bind="ngMeta.title"></title>
<meta name="description" content="{{ngMeta.description}}" />
<div layout="column" flex id="content" role="main" ng-controller="AppController" ng-init="tutorialShowIndex=true">

  <qml-tutorial-directive></qml-tutorial-directive>

</div>
