<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Views::QuestionsManagementView
* Description: view contenente le form dedicate alla visualizzazione di domande
*
* Relations with other classes:
*
* Creation data: 04-05-2016
* Author: Alberto Ferrara
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: CreateWithWizardView_20160504;
* Update data: 04-05-2016;
* Description: creazione view;
* Author: Alberto Ferrara.
*-------------------------------------------------------------------------------
*******************************************************************************/
-->

<div layout="column" flex id="content" role="main" ng-controller="AppController" >

    <div class=" authpage layout-sm-column layout-align-center layout-column" layout="column" layout-align="center"  >

        <section class="sezione md-whiteframe-z1" layout-sm="column" layout-align="center">

            <md-toolbar class="md-primary toolbar">
                <div class="md-toolbar-tools">
                    <span flex="" class="flex"></span>
                    <h3 class="ng-binding">{{listOfKeys.titleLangQuestionsManagement}}</h3>
                    <span flex="" class="flex"></span>
                </div>
            </md-toolbar>
            <one-question-directive></one-question-directive>
        </section>

    </div>

</div>