<div layout="column" flex id="content" role="main" ng-controller="AppController">

    <div class=" authpage layout-sm-column layout-align-center layout-column" layout="column" layout-align="center"  >

        <section class="sezione md-whiteframe-z1" layout-sm="column" layout-align="center">

            <md-toolbar class="md-primary toolbar">
                <div class="md-toolbar-tools">
                    <span flex="" class="flex"></span>
                    <h3 class="ng-binding">{{listOfKeys.titleLangQuestionnaireManagement}}</h3>
                    <span flex="" class="flex"></span>
                </div>
            </md-toolbar>

            <div layout="row" layout-align="center center" >
                <md-input-container layout-align="center center">
                    <div layout="row" layout-sm="column" layout-margin>
                        <md-button ng-click="goToCreateQuestionnaire()" class="md-raised md-primary" flex="50" flex-sm="100">{{listOfKeys.buttonNewQuestionnaireLangQuestionnaireManagement}}</md-button>
                    </div>
                </md-input-container>
            </div>

        </section>

    </div>

</div>