<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Views::QuestionsManagementView
* Description: view contenente le form dedicate alla visualizzazione di domande
*
* Relations with other classes:
*
* Creation data: 04-05-2016
* Author: Alberto Ferrara
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: CreateWithWizardView_20160504;
* Update data: 04-05-2016;
* Description: creazione view;
* Author: Alberto Ferrara.
*-------------------------------------------------------------------------------
*******************************************************************************/
-->

<div layout="column" flex id="content" role="main" ng-controller="AppController" >

    <div layout="row" layout-align="center center" >
        <form name="myForm" id="myForm" enctype="multipart/form-data" ng-submit="uploadImage(imageFile)">
            <input type="file" name="image" id="image" ngf-select ng-model="imageFile"  accept="image/*" ngf-max-size="2MB" >
            <img style="width:200px;" ng-show="myForm.image.$valid" ngf-thumbnail="imageFile" class="thumb">
            <md-button class="md-raised md-primary" flex="50" flex-sm="100" ng-click="imageFile = null" ng-show="imageFile">Remove</md-button>
            <md-button class="md-raised md-primary" flex="50" flex-sm="100" type="submit" ng-disabled="!myForm.$valid" >Conferma</md-button>
        </form>
    </div>

    <div class="layout-sm-column layout-align-center layout-column" layout="column" layout-align="center"  >
        <section class="sezione md-whiteframe-z1" layout-sm="column" layout-align="center">

            <md-toolbar class="md-primary toolbar">
                <div class="md-toolbar-tools">
                    <span flex="" class="flex"></span>
                    <h2 class="ng-binding">{{listOfKeys.titleLangQuestionsManagement}}</h2>
                    <span flex="" class="flex"></span>
                </div>
                <new-question-button-directive></new-question-button-directive>

            </md-toolbar>
            <one-question-directive></one-question-directive>
        </section>

    </div>

</div>

