<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Views::QuestionnaireManagementView;
* Description: view per la gestione dei questionari;
* Creation data: 13-05-2016;
* Author: Alberto Ferrara.
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: QuestionnaireManagementView_20160526;
* Update data: 26-05-2016;
* Description: Aggiornata la view;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
* ID: RegistrationManagementView_20160513;
* Update data: 13-05-2016;
* Description: creazione view;
* Author: Alberto Ferrara.
*-------------------------------------------------------------------------------
*******************************************************************************/
-->
<!-- Metadata -->
<title ng-bind="ngMeta.title"></title>
<meta name="description" content="{{ngMeta.description}}" />

<div layout="column" flex id="content" role="main" ng-controller="AppController">

    <div class=" authpage layout-sm-column layout-align-center layout-column" layout="column" layout-align="center"  >

        <section class="sezione md-whiteframe-z1" layout-sm="column" layout-align="center">

            <md-toolbar class="md-primary toolbar">
                <div class="md-toolbar-tools">
                    <span flex="" class="flex"></span>
                    <h3 class="ng-binding">{{listOfKeys.titleLangQuestionnaireManagement}}</h3>
                    <span flex="" class="flex"></span>
                </div>
            </md-toolbar>


            <div id="newQuestionButtons" class="text-center" class="md-padding">
                <md-toolbar class="modifyQuestionTitle toolbar-section toolbar-bottom">
                    <div class="md-toolbar-tools" layout-xs="column">
                        <h2>
                            <span>{{listOfKeys.buttonNewQuestionnaireLangQuestionnaireManagement}}</span>
                        </h2>
                        <span flex=""></span>
                        <md-button id="createQuizButton" aria-label="aria-label"  class="md-button md-raised md-primary button-new-quiz" flex-xs="100" ng-href="" ng-click="goToCreateQuestionnaire()" target="_blank">{{listOfKeys.buttonNewQuestionnaireLangQuestionnaireManagement}}</md-button>
                    </div>
                </md-toolbar>
            </div>
            <span ng-if="personalQuizzes === undefined">
              <div class="spinner">
                <img src="Images/Icons/reload.svg"/>
              </div>
            </span>
            <div ng-if="personalQuizzes != undefined">
              <section>
                  <span ng-if="personalQuizzes.length == 0"><h3> {{listOfKeys.noQuizCreatedLang}} </h3></span>
              </section>
              <section ng-if="personalQuizzes != undefined" class="md-whiteframe-2dp line-quiz  " ng-repeat="q in personalQuizzes" layout-sm="column" layout-align="center" ng-class-odd="'odd'" ng-class-even="'even'">
                  <div class="text-center blancBackground" layout="row" layout-xs="column" layout-sm="column">
                      <div layout="row" class="container-topic-name-quiz">
                          <span class="divided"> {{listOfKeys.quizTitleResult}}: <h3>{{q.title}} </h3></span>
                          <span class="divided"> {{listOfKeys.quizTopicResult}}: <h3>{{q.topic}} </h3> </span>
                      </div>

                      <span flex=""> </span>
                      <div layout="column">
                          <button aria-label="aria-label"  class="show-allcreate-questionnaire-button md-button md-raised md-primary" ng-click="goToQuiz(q._id)"><div> {{listOfKeys.goToSubscribeManagement}} </div> </button>
                          <button aria-label="aria-label"  class="show-allcreate-questionnaire-button md-button md-raised md-primary" ng-click="startQuiz(q._id)">{{listOfKeys.startQuizLang}}</button>
                      </div>
                  </div>
              </section>

              <md-toolbar ng-if="personalQuizzes.length > 0" class="toolbar-section toolbar-top">
                  <div class="md-toolbar-tools">
                      <span flex=""></span>
                      <md-button aria-label="aria-label"  class="md-raised" ng-disabled="currentPage <= 0" ng-click="goBack()"><<</md-button>
                      <md-button aria-label="aria-label"  class="md-raised" ng-disabled="currentPage >= numberOfPages(personalQuizzes.length)-1" ng-click="goOn()">>></md-button>
                      <span class="hide-me-when-i-am-ugly">{{listOfKeys.pageLang}} {{currentPageLineOne +1}} {{listOfKeys.ofLang}} {{numberOfPages(personalQuizzes.length)}}</span>
                  </div>
              </md-toolbar>
            </div>

        </section>

    </div>

</div>
