<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Views::RegistrationManagementView;
* Description: view contenente gli utenti iscritti ad un questionario;
* Creation data: 13-05-2016;
* Author: Alberto Ferrara.
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: RegistrationManagementView_20160526;
* Update data: 26-05-2016;
* Description: Aggiornata la view;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
* ID: RegistrationManagementView_20160513;
* Update data: 13-05-2016;
* Description: creazione view;
* Author: Alberto Ferrara.
*-------------------------------------------------------------------------------
*******************************************************************************/
-->
<!-- Metadata -->
<title ng-bind="ngMeta.title"></title>
<meta name="description" content="{{ngMeta.description}}" />

<div layout="column" flex id="content" role="main" ng-controller="AppController" >

    <div class="layout-sm-column layout-align-center layout-column" layout="column" layout-align="center"  >
        <section class="user-view md-whiteframe-z1" layout-sm="column" layout-align="center">
            <md-toolbar class="md-primary toolbar">
                <div class="md-toolbar-tools">
                    <span flex="" class="flex"></span>
                    <h2 class="ng-binding">{{listOfKeys.titleLangRegistrationManagement}}</h2>
                    <span flex="" class="flex"></span>
                </div>
            </md-toolbar>

            <span ng-if="subscribedUsers === undefined">
              <div class="spinner">
                <img src="Images/Icons/reload.svg"/>
              </div>
            </span>


            <md-toolbar ng-if="subscribedUsers != undefined" class="modifyQuestionTitle toolbar-section toolbar-bottom">
                <div class="md-toolbar-tools">
                    <h2  class="hide-me-when-i-am-ugly-subscribers">
                        <span ng-if="subscribedUsers.length == 0"> Ci sono 0 iscritti. </span>
                        <span ng-if="subscribedUsers.length == 1"> C'è {{subscribedUsers.length}} iscritto. </span>
                        <span ng-if="subscribedUsers.length > 1"> Ci sono {{subscribedUsers.length}} iscritti. </span>
                        </span>
                    </h2>
                    <span flex=""></span>
                    <md-button aria-label="aria-label"  ng-if="subscribedUsers.length != 0" class="md-raised" ng-disabled="currentPage <= 0" ng-click="goBack()"><<</md-button>
                    <md-button aria-label="aria-label"  ng-if="subscribedUsers.length != 0" class="md-raised" ng-disabled="currentPage >= numberOfPages(subscribedUsers.length)-1 || subscribedUsers.length == undefined" ng-click="goOn()">>></md-button>
                    <span ng-if="subscribedUsers.length > 0" class="hide-me-when-i-am-ugly" > {{listOfKeys.pageLang}} {{currentPage+1}} {{listOfKeys.ofLang}} {{numberOfPages(subscribedUsers.length)}}</span>

                </div>
            </md-toolbar>

            <div ng-if="subscribedUsers != undefined" class="md-whiteframe-2dp line-quiz toolbar-top" ng-repeat="u in subscribedUsers | startFrom:currentPage*pageSize | limitTo:pageSize " layout-sm="column" layout-align="center" ng-class-odd="'odd'" ng-class-even="'even'">
                <div class="text-center blancBackground" layout="row" layout-xs="column" layout-sm="row">
                    <span class="divided"> {{listOfKeys.userNameResult}}: <h3>{{u.name}} </h3></span>
                    <span class="divided"> {{listOfKeys.userUsernameResult}}: <h3>{{u.username}} </h3> </span>
                    <span flex=""></span>
                    <div layout="column">
                      <span flex=""></span>
                      <button aria-label="aria-label"  class="subscribe-button md-primary md-raised md-button md-ink-ripple" type="button" ng-click="subscribeQuestionnaire(u._id)">{{listOfKeys.buttonAddLang}}</button>
                      <span flex=""></span>
                    </div>
                </div>
            </div>


        </section>

    </div>

</div>
