<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Views::ResultsView;
* Description: view contenente i riusltati della ricerca;
* Creation data: 10-05-2016;
* Author: Alberto Ferrara.
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: ResultsView_20160526;
* Update data: 26-05-2016;
* Description: Aggiornata la view;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
* ID: ResultsView_20160510;
* Update data: 10-05-2016;
* Description: creazione view;
* Author: Alberto Ferrara.
*-------------------------------------------------------------------------------
*******************************************************************************/
-->
<!-- Metadata -->
<title ng-bind="ngMeta.title"></title>
<meta name="description" content="{{ngMeta.description}}" />

<div layout="column" flex id="content" role="main" ng-controller="AppController" >


    <div class="layout-sm-column layout-align-center layout-column" layout="column" layout-align="center"  >

        <span ng-if="users === undefined || quizzes === undefined">
          <div class="spinner">
            <img src="Images/Icons/reload.svg"/>
          </div>
        </span>

        <section ng-if="users != undefined && quizzes != undefined" class="search md-whiteframe-z1" layout-sm="column" layout-align="center">

            <div class="result-line">
              <md-toolbar class="md-primary toolbar">
                      <span class="ng-binding text-center titleSearched">{{listOfKeys.userSearched}}</span>
              </md-toolbar>
              <user-results-directive></user-results-directive>
              <h3 class="text-center messageVoid" ng-if="users.length == 0">{{listOfKeys.noUsersFound}}</h3>
            </div>

            <div class="result-line">
              <md-toolbar class="md-primary toolbar">
                      <span class="ng-binding text-center titleSearched">{{listOfKeys.quizzesSearched}}</span>
              </md-toolbar>
              <subscribe-result-directive></subscribe-result-directive>
              <h3 class="text-center messageVoid" ng-if="quizzes.length == 0">{{listOfKeys.noQuizziesFound}}</h3>
            </div>

        </section>

    </div>

</div>
