<div layout="column" flex id="content" role="main" ng-controller="AppController">

    <div class=" authpage layout-sm-column layout-align-center layout-column" layout="column" layout-align="center"  >

        <section class="sezione md-whiteframe-z1" layout-sm="column" layout-align="center">

            <md-toolbar class="md-primary toolbar">
                <div class="md-toolbar-tools">
                    <span flex="" class="flex"></span>
                    <h3 class="ng-binding">{{listOfKeys.titleShowAllCreatedQuestionnaires}}</h3>
                    <span flex="" class="flex"></span>
                </div>
            </md-toolbar>

            <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>
                <md-whiteframe class="md-whiteframe-1dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                    <span>{{ personalQuizzes }}</span>
                </md-whiteframe>
                <md-whiteframe class="md-whiteframe-2dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                    <span>.md-whiteframe-2dp</span>
                </md-whiteframe>
                <md-whiteframe class="md-whiteframe-3dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                    <span>.md-whiteframe-3dp</span>
                </md-whiteframe>
            </div>


        </section>

    </div>

</div>