<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Views::ShowAllCreatedQuestionnairesView
* Description: view per la visualizzazione di tutti i questionari creati
* Creation data: 12-05-2016
* Author: Alberto Ferrara
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: CreateWithWizardView_20160512;
* Update data: 12-05-2016;
* Description: creazione view;
* Author: Alberto Ferrara.
*-------------------------------------------------------------------------------
*******************************************************************************/
-->
<div layout="column" flex id="content" role="main" ng-controller="AppController">

    <div class=" authpage layout-sm-column layout-align-center layout-column" layout="column" layout-align="center"  >

        <section class="sezione md-whiteframe-z1" layout-sm="column" layout-align="center">

            <md-toolbar class="md-primary toolbar">
                <div class="md-toolbar-tools">
                    <span flex="" class="flex"></span>
                    <h3 class="ng-binding">{{listOfKeys.titleShowAllCreatedQuestionnaires}}</h3>
                    <span flex="" class="flex"></span>
                </div>

            </md-toolbar>
            <section>
                    <span ng-if="personalQuizzes == undefined"><h3> {{listOfKeys.noQuizCreatedLang}} </h3></span>
            </section>
                <section ng-if="personalQuizzes != undefined" class="md-whiteframe-1dp" ng-repeat="q in personalQuizzes" layout-sm="column" layout-align="center">
                    <div class="text-center blancBackground" layout="row" layout-xs="column" layout-sm="column">
                        <button class="go-to-user-button md-primary md-raised md-button md-ink-ripple" type="button" ng-click="goToQuiz(q._id)">{{listOfKeys.goToSubscribeManagement}}</button>
                        <span class="ng-binding divided"> {{listOfKeys.quizTitleResult}}: <h3>{{q.title}} </h3></span>
                        <span class="ng-binding divided"> {{listOfKeys.quizTopicResult}}: <h3>{{q.topic}} </h3> </span>
                    </div>
                </section>



        </section>

    </div>

</div>