<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Views::SignUpView
* Description: view contenente le form dedicate alla registrazione utente. Contiene inoltre un link alla pagina di login
* Relations with other classes:
* + SignUpController
* + LangModel
* Creation data: 27-04-2016
* Author: Simone Magagna
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: SignUpView_20160427
* Update data: 27-04-2016
* Description: creazione
* Author: Simone Magagna
*-------------------------------------------------------------------------------
*******************************************************************************/
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Registrazione</title>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

<body ng-controller="SignUpController" ng-app="myApp">
<div class="container">
    <div id="signup">
        <div class="signup-screen">
            <div class="space-bot text-center">
                <h1>Registrazione</h1>
                <div class="divider"></div>
            </div>
            <form class="form-register" method="post" name="register" novalidate>
                <div class="input-field col s6">
                    <label for="first-name">Nome</label>
                    <input id="first-name" type="text" class="validate" required>
                </div>
                <div class="input-field col s6">
                    <label for="last-name">Cognome</label>
                    <input id="last-name" type="text" class="validate" required>
                </div>
                <div class="input-field col s6" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
                    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                </div>
                <div class="input-field col s6">
                    <label for="email">Email</label>
                    <input id="email" type="email" name="email" ng-model="email" class="validate" required>
                </div>
                <p class="alert alert-danger" ng-show="form-register.email.$error.email">L'email non è valida</p>

                <div class="input-field col s6">
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password" ng-model="password" ng-minlength='8' class="validate" required>
                </div>
                <p class="alert alert-danger" ng-show="form-register.password.$error.minlength || form.password.$invalid">La password deve avere almeno 8 caratteri</p>
                <div class="space-top text-center">
                    <button ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done">
                        <i class="material-icons left">done</i> Done
                    </button>
                    <button type="button" class="waves-effect waves-light btn cancel">
                        <i class="material-icons left">clear</i>Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var myApp = angular.module("myApp", []);
    myApp.controller("SignUpController", function ($scope) {});
</script>

</body>