<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Views::SignUpView
* Description: view contenente le form dedicate alla registrazione utente. Contiene inoltre un link alla pagina di login
* Relations with other classes:
* + SignUpController
* + LangModel
* Creation data: 27-04-2016
* Author: Simone Magagna
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: SignUpView_20160427
* Update data: 27-04-2016
* Description: creazione
* Author: Simone Magagna
*-------------------------------------------------------------------------------
*******************************************************************************/
-->
    <md-content layout-padding="">
        <div>
            <form name="userForm">

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Nome</label>
                        <input ng-model="user.firstName">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Cognome</label>
                        <input ng-model="user.lastName">
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Email</label>
                        <input ng-model="user.email">
                    </md-input-container>

                </div>

            </form>
        </div>
    </md-content>
