
<div ng-controller="AppController">

  <div class=" training layout-sm-column layout-align-center layout-column" layout="column" layout-align="center"  >

    <section class="sezione md-whiteframe-z1" layout-sm="column" layout-align="center">
      <md-toolbar class="md-primary toolbar">
        <div class="md-toolbar-tools">
          <span flex="" class="flex"></span>
          <h3 class="ng-binding">{{listOfKeys.questionNumberLang}} {{training.questionNumber}}
            <span ng-if="training.numberOfQuestion != undefined">
             {{listOfKeys.ofLang}}
             {{training.numberOfQuestion}}
           </span>
          </h3>
         <span flex="" class="flex"></span>
        </div>
      </md-toolbar>
        <div class="md-padding">

          <div ng-controller="QuestionsController">

                <div ng-repeat="d in arrayDomande" ng-switch on="d.typeDomanda">
                  <div ng-switch-when="veroFalso"> <True-false-answer-directive></True-false-answer-directive> </div>
                  <div ng-switch-when="rispostaMultipla"> <Multiple-choice-answer-directive></Multiple-choice-answer-directive> </div>
                </div>

                <br/>
                <br/>
                <br/>
                {{objAnswer}} <br/>

          </div>

          {{scope}}

          <div class="button-go-to-training layout-align-center-stretch layout-row" layout="row" layout-align="center">
            <button  class="button-answer md-primary md-raised md-button md-ink-ripple flex-45" type="button" name="button" ng-click='newQuestion()'>
              {{listOfKeys.buttonNextQuestionLang}}
            </button>
            <button class="button-answer md-primary md-raised md-button md-ink-ripple flex-45" type="button" name="button" ng-click=''>
              {{listOfKeys.buttonEndTrainingLang}}
            </button>
          </div>
        </div>
    </section>

  </div>

</div>
