<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Views::UserView;
* Description: view contenente le informazioni di un utente;
* Creation data: 12-05-2016;
* Author: Alberto Ferrara.
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: UserView_20160526;
* Update data: 26-05-2016;
* Description: Aggiornata la view;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
* ID: UserView_20160526
* Update data: 26-05-2016
* Description: Corretto vari bug, sistemato grafica in modo che sia
* responsive e aggiunto spinner per il caricamento;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
* ID: CreateWithWizardView_20160512;
* Update data: 12-05-2016;
* Description: creazione view;
* Author: Alberto Ferrara.
*-------------------------------------------------------------------------------
*******************************************************************************/
-->
<!-- Metadata -->
<title ng-bind="ngMeta.title"></title>
<meta name="description" content="{{ngMeta.description}}" />

<div layout="column" flex id="content" role="main" ng-controller="AppController" >

    <div class="layout-sm-column layout-align-center layout-column" layout="column" layout-align="center"  >
        <section class="user-view md-whiteframe-z1" layout-sm="column" layout-align="center">
            <md-toolbar class="md-primary toolbar">
                <div class="md-toolbar-tools">
                    <span flex="" class="flex"></span>
                    <h2 class="ng-binding">{{listOfKeys.titleLangUserView}}</h2>
                    <span flex="" class="flex"></span>
                </div>
            </md-toolbar>

            <span ng-if="approvedQuizzes === undefined || subscribedQuizzes === undefined || quizzes ===undefined ">
              <div class="spinner">
                <img src="Images/Icons/reload.svg"/>
              </div>
            </span>

            <span ng-if="approvedQuizzes != undefined && quizzes != undefined && subscribedQuizzes != undefined">
              <user-details-directive></user-details-directive>
              <questionnaire-done-details-directive></questionnaire-done-details-directive>
              <approved-subscribe-directive></approved-subscribe-directive>
              <questionnaire-details-directive></questionnaire-details-directive>
              <statistics-directive></statistics-directive>
            </span>
        </section>

    </div>

</div>
