<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Directives::;
* Description: ;
* Relations with other classes:
* +
* Creation data: 03-05-2016;
* Author: Matteo Granzotto;
* License: MIT.
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: _20160503;
* Update data: 03-05-2016;
* Description: Creata la direttiva;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
*******************************************************************************/
-->

<section class="sezione md-whiteframe-d" layout-sm="column" layout-align="center"  layout="column" ng-cloak="" class="chipsdemoCustomInputs">
  <div class="center-it questions md-whiteframe-1dp">
    <md-toolbar class="toolbar-section toolbar">
      <div class="md-toolbar-tools">
        <span flex="" class="flex"></span>
        <span>{{listOfKeys.chooseQuestionLang}}</span>
        <span flex="" class="flex"></span>
      </div>
    </md-toolbar>
    <fieldset ng-disabled="infiniteQuestion" >
      <h-number class="question-picker" change="" value="numberOfQuestionsOnTraining.num" singular="{{listOfKeys.question}}" plural="{{listOfKeys.questions}}" min="0" max="{{stepQuestionsTraining}}" step="" ></h-number>
    </fieldset>
    <md-checkbox ng-model="infiniteQuestion" ng-change="setInfiniteQuestion(infiniteQuestion)">
        {{listOfKeys.noStop}}
    </md-checkbox>
  </div>
  <div class="center-it md-whiteframe-1dp">
    <md-toolbar class="toolbar-section toolbar">
      <div class="md-toolbar-tools">
        <span flex="" class="flex"></span>
        <span>{{listOfKeys.chooseArgumentLang}}</span>
        <span flex="" class="flex"></span>
      </div>
    </md-toolbar>
    <md-input-container class="select-container">
      <md-select class="topics" name="myForm" placeholder="{{listOfKeys.selectedTopicLang}}" ng-model="selectedTopic" ng-change="loadKeywords(selectedTopic.name); updateSelectedTopic(selectedTopic.name)">
        <md-optgroup label={{listOfKeys.argumentsTopicKeywordsDirective}}>
          <md-option ng-value="topic" ng-repeat="topic in topics">{{topic.name}}</md-option>
        </md-optgroup>
      </md-select>
      <div class="errors topics" ng-messages="myForm.selectedTopic.$error" ng-if="problemWithTopic === true">
        {{listOfKeys.genericObbligatoryFiled}}
      </div>
    </md-input-container>
  </div>
  <div class="center-it md-whiteframe-1dp">
    <md-toolbar class="toolbar-section toolbar">
      <div class="md-toolbar-tools">
        <span flex="" class="flex"></span>
        <span>{{listOfKeys.chooseKeywordsLang}}</span>
        <span flex="" class="flex"></span>
      </div>
    </md-toolbar>
    <md-chips class="keywordsChip" ng-model="selectedKeywords" md-autocomplete-snap="" md-transform-chip="transformChip($chip)" md-require-match="autocompleteDemoRequireMatch">
        <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)" md-item-text="item" placeholder="{{listOfKeys.lookingForANewKey}}" md-no-cache="true">
          <span md-highlight-text="searchText">{{item}}</span>
        </md-autocomplete>
        <md-chip-template>
          <span>
            <strong>{{$chip}}</strong>
          </span>
        </md-chip-template>
    </md-chips>
  </div>

</section>
