<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Directives::;
* Description: ;
* Relations with other classes:
* +
* Creation data: 03-05-2016;
* Author: Matteo Granzotto;
* License: MIT.
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: _20160503;
* Update data: 03-05-2016;
* Description: Creata la direttiva;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
*******************************************************************************/
-->
entro
{{startQuiz}}
<section class="sezione md-whiteframe-d" layout-sm="column" layout-align="center"  layout="column" ng-cloak="" class="chipsdemoCustomInputs">
  <div class="center-it questions md-whiteframe-1dp" ng-if="no-auth == true">
    <md-toolbar class="toolbar-section toolbar">
      <div class="md-toolbar-tools">
        <span flex="" class="flex"></span>
        <span>Non sei autorizzato a fare questo questionario</span>
        <span flex="" class="flex"></span>
      </div>
    </md-toolbar>
  </div>
  <div class="center-it md-whiteframe-1dp" ng-if="noStart == true">
    <md-toolbar class="toolbar-section toolbar">
      <div class="md-toolbar-tools">
        <span flex="" class="flex"></span>
        <span>Il questionario non è ancora iniziato, torna fra un po'.</span>
        <span flex="" class="flex"></span>
      </div>
    </md-toolbar>
  </div>
  <div class="center-it md-whiteframe-1dp" ng-if="startQuiz == true">
    <md-toolbar class="toolbar-section toolbar">
      <div class="md-toolbar-tools">
        <span flex="" class="flex"></span>
        <span>{{quiz.getName()}}</span>
        <span flex="" class="flex"></span>
      </div>
    </md-toolbar>
    <div class="">
      Topic: {{quiz.getArgument()}} </br>
      Parole chiavi: {{quiz.getKeyword()}}
    </div>
  </div>

</section>
