<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Directives::;
* Description: ;
* Relations with other classes:
* +
* Creation data: 03-05-2016;
* Author: Matteo Granzotto;
* License: MIT.
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: _20160503;
* Update data: 03-05-2016;
* Description: Creata la direttiva;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
*******************************************************************************/
-->

<section class="sezione md-whiteframe-d" layout-sm="column" layout-align="center">
    <div class=" md-padding">
      <div class="layout-align-center-stretch layout-row" layout="row" layout-align="center">
        <span class="text-center questionText">{{d.questionText}} </span>
      </div>
      <div class="button-go-to-training layout-align-center-stretch layout-column" layout="column" layout-align="center">
        <div ng-repeat="a in d.answer">
          <div class="layout-row piece-of-question" layout="row" >
          <md-checkbox class="checkbox" ng-model="a.selected" ng-change='addAnswer($parent.$index,d.typeDomanda,save($parent.$index) )'>
            {{a.text}}
          </md-checkbox>
        </div>
        </div>
      </div>
    </div>
</section>
