<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Directives::NewQuestionButtonDirective;
* Description: contiene i pulsanti per la creazione della domanda;
* Relations with other classes:
* + .
* Creation data: 04-05-2016;
* Author: Alberto Ferrara;
* License: MIT.
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: NewQuestionQuestionDirective_20160504
* Update data: 04-05-2016
* Description: Creata la classe e scritto il codice html;
* Author: Alberto Ferrara.
*-------------------------------------------------------------------------------
*******************************************************************************/
-->


<div id="newQuestionButtons" class="text-center" class="md-padding">
    <md-button class="md-button md-raised md-primary" ng-href="" ng-click="goToWizardCreation()" target="_blank">{{listOfKeys.creationWizard}}</md-button>
    <md-button class="md-button md-raised md-primary" ng-href="" ng-click="goToQMLCreation()()" target="_blank">{{listOfKeys.creationQML}}</md-button>
</div>