<!--
/*******************************************************************************
 * Name: QuizziPedia::Front-End::Directives::QuestionnaireDetailsDirective;
 * Description: rappresenta i questionari abilitati per un utente;
 * Relations with other classes:
 * +
 * Creation data: 13-05-2016;
 * Author: Alberto Ferrara;
 * License: MIT.
 ********************************************************************************
 * Updates history
 *-------------------------------------------------------------------------------
 * ID: QuestionnaireDetailsDirective_20160513
 * Update data: 13-05-2016
 * Description: Creata la classe e scritto il file html;
 * Author: Alberto Ferrara.
 *-------------------------------------------------------------------------------
 *******************************************************************************/
-->

<md-toolbar ng-if="subscribedQuizzes != undefined" class="toolbar-section toolbar-top quizzes-done" layout="row" layout-sm="row" layout-xs="row">
    <span class="divided"> <h3>{{listOfKeys.quizName}} </h3></span>
    <span class="divided"><h3>{{listOfKeys.quizAuthor}} </h3></span>
    <span class="divided"><h3> {{listOfKeys.quizTopic}} </h3></span>
</md-toolbar>
<section ng-if="subscribedQuizzes != undefined" ng-repeat="quiz in subscribedQuizzes" layout-sm="column" layout-align="center">
    <div class="md-toolbar-tools toolbar-section">
        <span class="ng-binding divided"> {{quiz.title}} </span>
        <span class="ng-binding divided">  {{quiz.author}}</span>
        <span class="ng-binding divided">  {{quiz.topic}} </span>
    </div>
</section>

<md-toolbar ng-if="subscribedQuizzes == 0 || subscribedQuizzes == undefined" class="toolbar-section toolbar-top">
    <div class="no-quiz" class="md-toolbar-tools">
        <h3>
            <span> Ci sono 0 questionari a cui ti sei iscritto. </span>
        </h3>
    </div>
</md-toolbar>