<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Directives::;
* Description: ;
* Relations with other classes:
* +
* Creation data: 03-05-2016;
* Author: Matteo Granzotto;
* License: MIT.
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: _20160503;
* Update data: 03-05-2016;
* Description: Creata la direttiva;
* Author: Matteo Granzotto.
*-------------------------------------------------------------------------------
*******************************************************************************/
-->

<section class="sezione md-whiteframe-d" layout-sm="column" layout-align="center">
    <div class=" md-padding">
      <div class="layout-align-center-stretch layout-row" layout="row" layout-align="center">
        <span class="text-center questionText">{{d.questionText}} </span>
      </div>
      <div class="button-go-to-training layout-align-center-stretch layout-column" layout="column" layout-align="center">
        {{d}}
    <div class="layout-align-center-stretch layout-row" layout="row" layout-sm="row" layout-align="center">

        <ul>

          <li class="md-primary md-raised md-button" ng-repeat="item in list2" data-drop="true" data-drag="true" ng-model="list2" jqyoui-droppable="{index: {{$index}}, onDrop : 'dragnNDropQuestions($parent.$index,d.typeDomanda,list2)'}" jqyoui-draggable="{index: {{$index}}, insertInline: true, direction:'jqyouiDirection'}" data-jqyoui-options="{revert: 'invalid'}" data-direction="{{item.jqyouiDirection}}">
            <h1>{{item.text}}</h1>
          </li>

        </ul>


      </div>

      </div>
    </div>
</section>
