<!--
/*******************************************************************************
 * Name: QuizziPedia::Front-End::Directives::SubscribeResultDirective;
 * Description: rappresenta un questionario ricercato;
 * Relations with other classes:
 * +
 * Creation data: 10-05-2016;
 * Author: Alberto Ferrara;
 * License: MIT.
 ********************************************************************************
 * Updates history
 *-------------------------------------------------------------------------------
 * ID: SubscribeResultDirective_20160510
 * Update data: 10-05-2016
 * Description: Creata la classe e scritto il file html;
 * Author: Alberto Ferrara.
 *-------------------------------------------------------------------------------
 *******************************************************************************/
-->

<div ng-repeat="q in quizzes" class="md-whiteframe-z1" layout-sm="column" layout-align="center">
    <div class="text-center blancBackground" layout="row" layout-xs="column" layout-sm="column">
        <button class="subscribe-button md-primary md-raised md-button md-ink-ripple" type="button" ng-click="">{{listOfKeys.registrationButton}}</button>
        <p class="ng-binding divided quiz-title"> {{listOfKeys.QuizTitleResult}}: {{q.title}} </p>
    </div>
</div>


