<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Directives::TopicKeywordsDirective;
* Description: ;
* Relations with other classes:
* +
* Creation data: 03-05-2016;
* Author: Simone Magagna;
* License: MIT.
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: TopicKeywordsDirective_20160503;
* Update data: 27-04-2016;
* Description: Creata la classe;
* Author: Simone Magagna.
*-------------------------------------------------------------------------------
*******************************************************************************/
-->

<div class="md-padding selectdemoBasicUsage">
    <div>
        <h1 class="md-title">{{listOfKeys.titleTopicKeywordsDirective}}</h1>
        <div layout="row">

            <md-input-container>
                <label>{{listOfKeys.keywordTopicKeywordsDirective}}</label>
                <input ng-model="quiz.keyword">
            </md-input-container>

            <md-input-container>
                <label>{{listOfKeys.argumentTopicKeywordsDirective}}</label>
                <md-select ng-model="">
                    <md-option ng-repeat="state in ctrl.states" value="{{state.abbrev}}">
                        {{state.abbrev}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
</div>