<!--
/*******************************************************************************
* Name: QuizziPedia::Front-End::Directives::TopicKeywordsDirective;
* Description: ;
* Relations with other classes:
* +
* Creation data: 03-05-2016;
* Author: Simone Magagna;
* License: MIT.
********************************************************************************
* Updates history
*-------------------------------------------------------------------------------
* ID: TopicKeywordsDirective_20160503;
* Update data: 27-04-2016;
* Description: Creata la classe;
* Author: Simone Magagna.
*-------------------------------------------------------------------------------
*******************************************************************************/
-->
<md-input-container class="md-block" ng-controller="AppController">
    <label>{{listOfKeys.keywordTopicKeywordsDirective}}</label>
    <input ng-model="quiz.keyword">
</md-input-container>

<md-input-container class="md-block" ng-controller="AppController">
    <label>{{listOfKeys.argumentTopicKeywordsDirective}}</label>
    <md-select ng-model="quiz.selectedItem" md-selected-text="getSelectedText()">
        <md-optgroup label={{listOfKeys.argumentsTopicKeywordsDirective}}>
            <md-option ng-value="item" ng-repeat="item in items">{{item}}</md-option>
        </md-optgroup>
    </md-select>
</md-input-container>
